/* Fonts */
$main-font-family: 'Roboto', sans-serif;

/* Colors */
$snow-white-color: #fff;
$light-green-color: #bbf330;
$dark-green-color: #7eb101;
$white-color: #fefefe;
$yellow-color: #ffe550;
$black-color: #2c2c2c;
$red-color: #ff705d;

/* Time functions */
$main-time-func: cubic-bezier(0.4, 0, 0.2, 1);
