<div class="container">
  <div class="favourites" name="favourites">
    <h2 class="section-title"></h2>
    <p class="favourites__description"></p>
    <ul class="favourites__list">
      <li class="favourites__item"><img src="#" alt="food" /></li>
      <li class="favourites__item"><img src="#" alt="food" /></li>
      <li class="favourites__item"><img src="#" alt="food" /></li>
      <li class="favourites__item"><img src="#" alt="food" /></li>
      <li class="favourites__item"><img src="#" alt="food" /></li>
      <li class="favourites__item"><img src="#" alt="food" /></li>
    </ul>
  </div>
</div>
