<div class="container">
  <div class="footer-navigation">
    <a href="./index.html" class="site-logo">
      <svg class="logo-svg" width="71" height="52">
        <use href="./index.html"></use>
      </svg>
      <span class="logo-text">FoodSta</span>
    </a>
    <nav class="header-navigation">
      <ul class="menu">
        <li class="menu__item"><a href="./index.html">Home</a></li>
        <li class="menu__item"><a href="./index.html">About</a></li>
        <li class="menu__item"><a href="./index.html">Service</a></li>
        <li class="menu__item"><a href="./index.html">Menu</a></li>
        <li class="menu__item"><a href="./index.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <form action="submit">
    <input type="email" name="email" id="email" />
    <button type="submit"></button>
    <span>By subscribing you agree to with our Privacy Policy</span>
  </form>
  <div class="footer-links">
    <ul class="footer-links__list">
      <li class="footer-links__item">Privacy Policy</li>
      <li class="footer-links__item">Terms of Service</li>
      <li class="footer-links__item">Cookies Settings</li>
    </ul>
    <span class="footer-links__copyright"
      >2022 FoodSta. All right reserved.</span
    >
  </div>
</div>
