<div class="container" name="header">
  <a href="./index.html" class="site-logo">
    <svg class="logo-svg" width="71" height="52">
      <use href="./index.html"></use>
    </svg>
    <span class="logo-text">FoodSta</span>
  </a>
  <nav class="header-navigation">
    <ul class="menu">
      <li class="menu__item"><a href="./index.html">Home</a></li>
      <li class="menu__item"><a href="./index.html">About</a></li>
      <li class="menu__item"><a href="./index.html">Service</a></li>
      <li class="menu__item"><a href="./index.html">Menu</a></li>
      <li class="menu__item"><a href="./index.html">Contact</a></li>
    </ul>
  </nav>
  <button type="button">Order now</button>
</div>
