.header {
  background-color: $white-color;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  align-items: center;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;

    &.is-open {
      display: flex;
      position: absolute;
      overflow: hidden;
      top: 50px;
      right: 10px;
      min-width: 130px;
      font-size: 16px;
      background-color: $white-color;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      // outline: 1px solid tomato;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}

.header-navigation {
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.menu {
  @extend %list;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    height: 50px;

    @media screen and (max-width: calc($tablet - 1px)) {
      &:hover,
      &:focus {
        background-color: $light-green-color;
      }
    }
  }

  &__link {
    @extend %link;
    padding-left: 16px;

    @media screen and (min-width: $tablet) {
      &:hover,
      &:focus {
        color: $light-green-color;
        text-decoration: underline;
      }
    }
  }
}

.header-order-button {
  @extend %button;
  display: none;

  height: 30px;
  margin-left: 28px;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
  }
}

.menu-button {
  display: inline-flex;
  margin-right: 20px;

  border: none;
  background-color: $white-color;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
